.sidepanel {
  position: fixed;
  top: 230px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 340px;
  z-index: 3;
  &__link {
    &:hover {
      svg path {
        fill: white;
      }
    }
  }
  &__divider {
    width: 2px;
    height: 70px;
    background-color: #000;
  }
  &__text {
    height: 150px;
    width: 25px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #000;
    span {
      transform: rotate(-90deg) translate(-30%, -260%);
      display: block;
      width: 150px;
    }
  }
}